<?xml version="1.0" encoding="UTF-8"?>

<launch>
  <arg name="talker_frequency" default="5" />

  <node name="talker" pkg="beginner_tutorials" type="talker" 
    output="screen" args="$(arg talker_frequency)"/>

  <node name="listener" pkg="beginner_tutorials" type="listener"
    output="screen"/>
</launch>