<?xml version="1.0" encoding="UTF-8"?>

<launch>
  <arg name="talker_frequency" default="5" />
  <arg name="record_rosbag" default="false" />
  
  <node name="talker" pkg="beginner_tutorials" type="talker" 
    output="screen" args="$(arg talker_frequency)"/>

  <node name="listener" pkg="beginner_tutorials" type="listener"
    output="screen"/>

  <node pkg="rosbag" type="record" name="rosbag_beginner_tutorials"
    args="record -a -O $(find beginner_tutorials)/results/my_bagfile"
    if="$(arg record_rosbag)" />

</launch>